ol.sortable{
    list-style-type: none;
}
.sortable ol{
    border: 1px solid black;
    padding: 10px;
    list-style-type: none;
}
.form-group input {
    margin-bottom: 10px;
}
.form-group input:last-child {
    margin-bottom: 0;

}